body {
    min-height: 100vh;
    display: flex;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big_button {
    height: 100px;
    width: 400px;
    border-radius: 4px;
    border: none;
    background-color: rgba(137, 22, 252, 0.8);
    transition:
        background-color 0.3s,
        box-shadow 0.3s;
    box-shadow: 5px 4px 5px 3px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.big_button:hover {
    background-color: rgba(19, 89, 188, 0.8);
    box-shadow: 6px 5px 6px 5px rgba(0, 0, 0, 0.25);
}

.button_link_text {
    color: white;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
}