body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Изменить эту строку */
}

h1 {
    color: white;
    background-color: rgb(83, 116, 102);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 10px;
}

footer {
    color: white;
    background-color: rgb(83, 116, 102);
    padding: 10px;
}

h1:hover {
    background-color: rgb(162, 184, 159);
    transition: background-color 0.5s;
}

footer:hover {
    color: rgba(0, 0, 0, 0.479);
    background-color: rgb(162, 184, 159);
    transition: background-color 0.5s;
}

.mainContent {
    padding: 10px;
    flex: 1; /* займет всё свободное пространство между header и footer */
    background: linear-gradient(120deg, #586768 0%, #aed4a6 100%);
}

.contentContainer {
    display: flex;
    /* задает направление flex, в строку или столбец */
    flex-direction: row;
    /* управляет расстоянием между элементами */
    justify-content: space-around;
    /* возможность переносить на новую строку элементы, которые не поместились в ряду */
    flex-wrap: wrap;
    /* выравнивание элементов во flex элементе */
    align-items: center;
}

.contentContainerCentered {
    display: flex;
    /* задает направление flex, в строку или столбец */
    flex-direction: row;
    /* управляет расстоянием между элементами */
    justify-content: center;
    /* возможность переносить на новую строку элементы, которые не поместились в ряду */
    flex-wrap: wrap;
    /* выравнивание элементов во flex элементе */
    align-items: center;
}

.contentContainer img {
    object-fit: contain;
    border-radius: 20px;
    width: 100%;
    box-shadow: 5px 4px 5px 3px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s;
}

.contentContainer img:hover {
    box-shadow: 6px 4px 7px 3px rgba(0, 0, 0, 0.35);
}

.singleImageContainer {
    margin: 6px;
    width: 30%;
}

.fullScreenImageContainer {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: background-color 0.3s;
}

.fullScreenImageContainer img {
    width: auto;
}

.loadingImage {
    opacity: 0.5;
}

.buttonClassA {
    margin: 15px;
    border-radius: 4px;
    border: none;
    padding: 15px 25px 15px 25px;
    background-color: rgba(85, 119, 110, 0.829);
    color: azure;
    transition: background-color 0.3s;
}

.buttonClassADisabled {
    margin: 15px;
    border-radius: 4px;
    border: none;
    padding: 15px 25px 15px 25px;
    background-color: rgba(83, 82, 82, 0.331);
    color: azure;
}

.buttonClassA:hover {
    color: rgba(49, 48, 48, 0.705);
    background-color: rgb(162, 184, 159);
}

.buttonText {
    color: white;
    text-decoration: none;
}

@media (max-width: 360px) {
    .contentContainer img {
        width: 100%;
    }
}